*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
  background-image: linear-gradient(to right bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    background-size: 400% 400%;
    animation: animate-bg 2s ease infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes animate-bg{
    0%{
        background-position: 0%;
    }
    50% {
        background-position: 100%;
    }
    100%{
        background-position: 0%;
    }
}
  .card{
       width: 650px;
       background-color: #fff;
       height: 300px;
       border-radius: 5px;
       text-align: center;
       line-height: 300px;
       font-weight: 700;
       font-size: 35px;
       box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px; ;
       
    }