*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}
body{
    background-color: aliceblue;
}
.content{
    margin: 50px 50px;
}
.content h1{
    font-size: 40px;
}
.content p{
    font-size: 18px;
}
.footer .container{
    background-color:#34495e;
}
.footer .container .row{
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
}
.row .footer-col h4{
    color: #fff;
     font-size: 25px;
     font-weight: 500;
     margin-bottom: 10px;
     text-align: center;
}
.row .footer-col ul{
    list-style: none;
}
.row .footer-col ul li{
    margin: 10px;
    text-align: center;
}
.row .footer-col ul li a{
    color: #fff;
    text-decoration: none;
    
    font-size: 18px;
    margin-top: 20px;
    opacity: 0.7;
    transition: 0.5s;
}

.row .footer-col ul li a:hover{
    opacity: 1;
}
.footer-col .row{
    background-color: #2c3e50;
}
.footer-col .row .col{
    color: #fff;
    font-size: 18px;
    letter-spacing: 0.5;
}
.footer-col .row .social-icons i{
    color: #fff;
    display: inline-block;
    font-size: 20px;
    margin-right: 15px;
   
}

.footer-col .row .social-icons i:hover{
    color: #95afc0;
}

@media (max-width:600px){
    .footer .row{
        flex-direction: column;
        padding: 20px 30px;
       
    }
    .footer-col .row .social-icons{
        margin-top: 40px;
        margin: 0 auto;
    }
    
}
