*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}
body{
    background-color: aliceblue;
}
.header{
    width: 100vw;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 30px;
   
}
.header .logo{
  color: #000;
  font-weight: 600;
  font-size: 30px;
  margin-right: auto;

}

.navbar ul{
    list-style: none;
     display: flex;
   
}
.navbar ul li{
    margin-right: 25px;

}
.navbar ul li a{
   text-decoration: none;
   color: #000;
   font-weight: 400;
   font-size: 18px;
   transition: 0.2s;
   
}
.navbar ul li a:hover{
    color: #333;
}

.btn{
    position: relative;
    width: 100px;
    height: 50px;
    padding: 7px 10px;
    font-weight: 500;
    font-size: 15px;
    background-color:transparent;
    border-radius: 5px;
    border: 1px solid #3742fa;
    cursor: pointer;
  

}
.layer{
    position: absolute;
    background-color:#3742fa;
    height: 100%;
    width: 0%;
    left: 0;
   z-index: -1;
    border-radius: 5px;
    bottom: 0;
    transition: 0.5s;
    overflow: hidden;

}
.btn:hover span{
   width: 100%;
  
}
.btn:hover{
    color: #fff;
}
.content{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
}
p::selection{
    background-color: #333;
    color: #fff;
}