*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}
body{
   
    background-color: #fff;
    overflow: hidden;
     
    
}


.container{
    background-image: url('./watch-removebg-preview.png');
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-repeat: no-repeat;
    background-position: 700px;
    padding: 0 100px;
 
}



.container h1{
    font-size: 40px;
    letter-spacing: 0.5;
    
}
.container span{
    font-size: 20px;
    font-weight: bold;
    color: #1e90ff;
}
.container p{
    font-size: 18px;
    max-width: 600px;
}
.btn{
    position: relative;
    padding: 7px 15px;
    margin-top: 30px;
    border-radius: 3px;
    border: none;
    background-color:transparent ;
    color:#000;
    font-weight: 600;
    font-size: 17px;
   
    border: 2px solid #1e90ff;
    
    
  
} 

.btn .layer{
    position: absolute;
    width: 0%;
    height: 100%;
    background-color:#1e90ff;
    top: 0;
    left: 0;
    border-radius: 3px;
    z-index: -1;
     transition: 0.5s;
    
}
.btn:hover .layer{
    width: 100%;
   
}
.btn:hover{
    color: #fff;
}
