*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--ff-style);
}
:root{
--ff-style:'poppins';
--transition: all 0.2s linear ;
}

/* ******************************************************** */
body{
  height: 100%;
}

/* header start */
.navbar{
    
    display: flex;
    padding: 20px 5%;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color:#ecf0f1 ;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

.logo h1{
    font-weight: 600;
    color:#333;
    font-size: 1.7rem;
    border-bottom: 4px solid #e67e22 ;
    cursor: default;
}
.navbar .menu{
    
   display: flex;
    list-style: none;
    
    
}
.navbar .menu li{
    
   
}
.navbar .menu a{
    text-decoration: none;
    color: #333;
    display: block;
    margin-left: 20px;
    border-bottom: 4px solid transparent;
    font-size: 20px;
    font-weight: bold;
}
.menu-btn{
    color: #333;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
.menu  li a i{
    color: #e67e22;
    font-size: 20px;
    
}
.navbar .menu  li .active{
    border-bottom: 4px solid #e67e22;
}


/* header end */

/* ---section start */
.content{
    background-image:url(../assests/shopping_img-removebg-preview.png)   ;
    background-size:cover ;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 500px;
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: flex-start;
      padding: 30px 100px;
    background-position: 900px;
    color: #333;

}
.content h1{
    font-size: 40px;
}
.content p{
    font-size: 25px;
    font-weight: 400;
    margin-top: 20px;
}
.content button{
    margin: 10px 50px;
    padding: 6px 20px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
    background-color: #333;
    color: #fff;
    transition: all .2s linear;
    border: 1px solid #fff;
    outline: 2px solid #333;
    cursor: pointer;
}
.content button:hover{
    background-color: transparent;
    color: #333;
    
   
}
.pheading{
    text-align: center;
    margin: 50px 0;
    color: #333;
}
/* section-end */

/* products start */
.sec{
    padding: 10px 5%;
}

.products{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
}


.products .card{
    width: 310px;
    background:#ecf0f1 ;
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 20px;
}

.products .card img{
    width: 100%;
    height: 20rem;
   
   
     
    
}
.products .card .desc{
    text-align: center;
    margin-bottom: 10px;
    font-size: 17px;
    font-weight: 600;
    color: #333;
}
.products .card .title{
    text-align: center;
    font-size: 20px;
    font-weight: 900;
    color: #333;
    letter-spacing: 1px;
}
.box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

}
.box .price{
    
    font-weight: bold;
    font-size: 20px;
    color: #eb4d4b;
}
.box .btn{
   
    padding: 5px 10px;
    font-size: 15px;
    border-radius: 1000px;
    font-weight: 900;
    background-color:#eb4d4b;
    color: #fff;
    transition: all 0.2s linear;
    border: 1px solid #eb4d4b;

}
.box .btn:hover{
    background: transparent;
    color: #eb4d4b;
}
/* products end */

/* footer start */

footer{
    background-color:#ecf0f1 ;
    height: 10vh;
    width: auto;
   
}

footer p{
    text-align: center;
    line-height: 10vh;
    font-weight: 500;
}
footer p a{
    text-decoration: none;
    color: #eb4d4b;
    font-weight: bold;
}
/* footer end */


/* responsive */

@media screen and (max-width:820px) {
    .menu-btn{
        display: block;
        z-index: 999;
        
      
    }
    .menu-btn i.active::before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background-color: #ecf0f1;
        text-align: center;
        padding-top:80px ;
        transition: all 0.3s linear;
    }

    .navbar .menu .active{
      left: 0;
    }
    .navbar .menu li{
        display: flex;
        justify-content: center;
    }
    .navbar .menu li a{
        margin: 10px 0;
        font-size: 25px;
    }
}